<!-- indexmodalWServerFlow.jsp -->
<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PoC Atletico de Madrid - Identity</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="reset.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600" type="text/css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <meta name="salesforce-community" content="https://<%= System.getenv("SALESFORCE_COMMUNITY_URL") %>">
    <meta name="salesforce-client-id" content="<%= System.getenv("SALESFORCE_CLIENT_ID") %>">
    <meta name="salesforce-redirect-uri" content="https://<%= System.getenv("SALESFORCE_HEROKUAPP_URL") %>/_callbacknowidget">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-image: url('images/AtMadridBack.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    } .autoModal.modal .modal-body{ max-height: 100%; }
</style>
<body>
<div id="login-no-widget" style="position: absolute; top: 20px;right: 20px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" datatarget="#myModalLogin"> Login Modal </button>
</div>
<div id="userdatadiv"> </div>
<div id="login-oauth-register">
    <iframe id='oauthRegisterIframe'> </iframe>
</div> <!--Modal Login-->
<div class="modal fade" id="myModalLogin" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <iframe id='LoginiFrame' style="height:400px;width:100%;"> </iframe>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('message', function(event) { var myjson = JSON.parse(event.data);
    console.log(JSON.parse(event.data)); localStorage.setItem('salesforceResponse',event.data); onlogin(); }, false);

    function logout(){ //revoke session
        var ifrm = document.createElement('iframe');
        ifrm.setAttribute('src', document.querySelector('meta[name="salesforcecommunity"]').content + '/secur/logout.jsp');
        ifrm.className = 'sfid-logout';
        ifrm.onload = function() {
            this.parentNode.removeChild(this); console.log('idp session was invalidated');
        }; document.body.appendChild(ifrm);
        localStorage.clear();
        userdatadiv = document.querySelector('#login-no-widget');
        userdatadiv.innerHTML = "";
        loginbutton = document.createElement('button');
        loginbutton.className="btn btn-primary";
        loginbutton.setAttribute("data-toggle","modal");
        loginbutton.setAttribute("data-target","#myModalLogin");
        loginbutton.innerText="Login Modal";
        userdatadiv.appendChild(loginbutton);
        setAuthorize();
        cancel();
    };
    function cancel() {
        var lightbox = document.getElementById("sfid-login-overlay");
        lightbox.style.display = "none";
        if (lightbox.parentNode) {
            lightbox.parentNode.removeChild(lightbox);
        }
    }
    function showIdentity(){
        console.log('Show Identity');
        var lightbox = document.createElement('div');
        lightbox.className = "sfid-lightbox";
        lightbox.id = "sfid-login-overlay";
        lightbox.setAttribute("onClick", "cancel();");
        var wrapper = document.createElement('div');
        wrapper.id = "identity-wrapper";
        wrapper.onclick = function(event) {
            event = event || window.event // cross-browser event
            if (event.stopPropagation) {
// W3C standard variant
                event.stopPropagation()
            } else {
// IE variant
                event.cancelBubble = true
            }
        }
        var content = document.createElement('div');
        content.id = "sfid-content";
        var community = document.createElement('a');
        var commURL = document.querySelector('meta[name="salesforce-community"]').content;
        community.href = commURL;
        community.innerHTML = "Go to the Community";
        community.setAttribute("style", "float:left");
        content.appendChild(community);
        var logout = document.createElement('a');
        logout.href = "javascript:logout();";
        logout.innerHTML = "logout";
        logout.setAttribute("style", "float:right");
        content.appendChild(logout);
        var t = document.createElement('div');
        t.id = "sfid-token";
        t.className = "sfid-mb24";
        var p = document.createElement('pre');
        p.innerHTML = localStorage.salesforceResponse;
        t.appendChild(p);
        content.appendChild(t);
        wrapper.appendChild(content);
        lightbox.appendChild(wrapper);
        document.body.appendChild(lightbox);
    }
    oauthRegisterIframe.contentWindow.addEventListener('message', function(event) {
        console.log(JSON.parse(event.data));
    }, false);
    //Set url Modal
    function setAuthorize(){
        try{
            var authorizeURL = document.querySelector('meta[name="salesforce-community"]').content + '/services/oauth2/authorize' + '?response_type=' + 'code' + '&client_id=' + document.querySelector('meta[name="salesforce-client-id"]').content + '&redirect_uri=' + encodeURIComponent(document.querySelector('meta[name="salesforce-redirecturi"]').content) + '&state=' + window.location;
            console.log('authorizeURL:'+authorizeURL); modaliframe = document.querySelector('#LoginiFrame');
            modaliframe.src = authorizeURL;
        }
        catch(error) {
            console.warn(error);
        };
    };
    onlogin();
    setAuthorize();
</script>
</body>
</html>
// Servlet //ServerSideCallbacksNoWidget.java
package com.salesforce.saml; import org.apache.commons.httpclient.HttpClient; import org.apache.commons.httpclient.methods.GetMethod; import org.apache.commons.httpclient.methods.PostMethod; import org.json.JSONObject; import javax.servlet.ServletConfig; import javax.servlet.ServletException; import javax.servlet.ServletOutputStream; import javax.servlet.annotation.WebServlet; import javax.servlet.http.HttpServlet; import javax.servlet.http.HttpServletRequest; import javax.servlet.http.HttpServletResponse; import javax.servlet.http.*; import java.io.IOException; import java.io.PrintWriter; import java.net.URLDecoder; import java.nio.charset.StandardCharsets; import java.util.Base64;
@WebServlet( name = "CallbackServletNoWidget", urlPatterns = {"/_callbacknowidget"} ) public class ServerSideCallbacksNoWidget extends HttpServlet{ // Client ID private static final String CLIENT_ID= "3MVG9SemV5D80oBfk_4t5JcDsP.s8Nl2VyqGIte26CSh7LV_Q3hqjA0SnLf1k5hv4Vk.sjldZww5Ib7U4hzQl";
// client secret private static final String CLIENT_SECRET = "1E9C0C9FE37F88B617E021A2A6496031090696FDD6D068ED1037A6716B3F712A";
@Override public void init(ServletConfig config) throws ServletException { super.init(config); }
@Override protected void doGet(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
String code = request.getParameter("code"); if (code != null) {
code = URLDecoder.decode(code, "UTF-8"); } String startURL = request.getParameter("state"); if (startURL != null) {
startURL = URLDecoder.decode(startURL, "UTF-8");
}
String tokenResponse = null; String communityUrl = null; String state = null; HttpClient httpclient = new HttpClient(); try { // community_url parameter passed from redirect uri.
communityUrl = request.getParameter("sfdc_community_url"); state = request.getParameter("state"); // Token endpoint : communityUrl + "/services/oauth2/token"; PostMethod post = new PostMethod(communityUrl+"/services/oauth2/token"); System.out.println(communityUrl); System.out.println("code: " + code); System.out.println("CLIENT_ID: " + CLIENT_ID); System.out.println("CLIENT_SECRET: " + CLIENT_SECRET); post.addParameter("code",code); post.addParameter("grant_type","authorization_code"); // Consumer key of the Connected App.
post.addParameter("client_id", CLIENT_ID); // Consumer Secret of the Connected App.
post.addParameter("client_secret",CLIENT_SECRET); // Callback URL of the Connected App.
post.addParameter("redirect_uri", "https://poc-embedded-loginserverside.herokuapp.com/_callbacknowidget"); httpclient.executeMethod(post); tokenResponse = post.getResponseBodyAsString(); post.releaseConnection(); System.err.println("tokenResponse: " + tokenResponse);
} catch (Exception e) { throw new ServletException(e);
}
JSONObject identityJSON = null; try { JSONObject token = new JSONObject(tokenResponse); // get the access token from the response String accessToken = token.getString("access_token"); String identity = token.getString("id"); httpclient = new HttpClient(); GetMethod get = new GetMethod(identity + "?version=latest"); get.setFollowRedirects(true); get.addRequestHeader("Authorization", "Bearer " + accessToken); // get identity information using the access token httpclient.executeMethod(get); String identityResponse = get.getResponseBodyAsString(); get.releaseConnection(); identityJSON = new JSONObject(identityResponse); identityJSON.put("access_token", accessToken); } catch (Exception e) { throw new ServletException(e); }
response.setContentType("text/html; charset=utf-8"); PrintWriter out = response.getWriter(); // Notice that we’re using base64 encoded String outputStr = "<html><head>\n" + // send the identity information back to the Embedded Login "</head><body></body><script>" +
"parent.postMessage('"+ identityJSON.toString() + "', '*');</script></html>"; out.write(outputStr); } }